<footer id="footer">
    <a href="#"><i class="fab fa-twitter   social-icon "></i></a><!-- twitter -->
   <a href="#"><i class="fab fa-facebook-f social-icon  "></i></a><!--  facebook -->
   <a href="#"><i class="fab fa-instagram  social-icon "></i></a><!--  instagram -->
   <a href="#"><i class="fas fa-envelope   social-icon"></i></a><!--  envelope-->
     <p id = "yer" class = "">© Copyright 2021 Laundry-Hub</p>
 
   </footer>

</body>
  <script>
  window.onload = function(){
           var day = new Date();
          var year = day.getFullYear();
          var yer = "© Copyright" + year +"Laundry-Hub";
          document.getElementById("Copyright").innerHTML = yer ;
        };</script>
</html>